asgiref
captcha
certifi
chardet
coreapi
coreschema
Django
django-admin-thumbnail
django-admin-thumbnails
django-ckeditor
django-filter
django-js-asset
django-mptt
django-recaptcha
django-render-partial
django-rest-framework
djangorestframework
djangorestframework-recursive
drf-yasg
drf-yasg2
idna
importlib-metadata
inflection
itypes
Jinja2
MarkupSafe
packaging
Pillow
pyparsing
pytz
requests
ruamel.yaml
ruamel.yaml.clib
six
sorl-thumbnail
sqlparse
typing-extensions
uritemplate
urllib3
zipp
