{% load static %}

﻿<!DOCTYPE html>

<html class="no-js" lang="en">
<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title>Euthenia</title>
	<meta name="description"  content="Professional Creative Template" />
	<meta name="author" content="IG Design">
	<meta name="keywords"  content="ig design, website, design, html5, css3, jquery, creative, clean, animated, portfolio, blog, one-page, multi-page, corporate, business," />

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="theme-color" content="#212121"/>
  <meta name="msapplication-navbutton-color" content="#212121"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="#212121"/>

	<!-- Web Fonts
	================================================== -->
	<link href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" href="{% static 'index_static/css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'index_static/css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'index_static/css/animsition.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'index_static/css/swiper.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'index_static/css/style.css' %}"/>

	<!-- Favicons
	================================================== -->
	<link rel="icon" type="image/png" href="favicon.jpg">
	<link rel="apple-touch-icon" href="apple-touch-icon.jpg">
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.jpg">
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.jpg">


</head>
<body class="over-hide">

	<!-- Page preloader wrap
	================================================== -->

	<div class="animsition">

		<!-- Nav and Logo
		================================================== -->

		<header class="cd-header">
			<div class="header-wrapper">

				<div class="logo-wrap">
					<a href="index.html" class="hover-target animsition-link"><img src="{% static 'index_static/img/logo.png' %}" alt="" style="width:40%;height:40%;"></a>
				</div>

				<div class="nav-but-wrap">
					<div class="menu-icon hover-target">
						<span class="menu-icon__line menu-icon__line-left"></span>
						<span class="menu-icon__line"></span>
						<span class="menu-icon__line menu-icon__line-right"></span>
					</div>
				</div>

			</div>
		</header>

		<div class="nav">
			<div class="nav__content">
				<div class="curent-page-name-shadow">IRANGIL</div>
				 <ul class="nav__list">

					<li class="nav__list-item active-nav"><a href="/gallery" class="hover-target animsition-link">Gallery</a></li>
					<li class="nav__list-item"><a href="blog.html" class="hover-target animsition-link">news</a></li>

					<li class="nav__list-item"><a data-toggle="collapse" href="#collapseSub" class="hover-target" role="button" aria-expanded="false" aria-controls="collapseSub">Social media</a>
						<ul class="sub-links collapse" id="collapseSub">
							<li><a href="#" class="hover-target animsition-link">
								<img src="{% static 'index_static/img/instagram.png' %}" alt="Instagram"> Instagram
							</a></li>
							<li><a href="#" class="hover-target animsition-link">
								<img src="{% static 'index_static/img/telegram.png' %}" alt="Telegram"> Telegram
							</a></li>
							<li><a href="#" class="hover-target animsition-link">
								<img src="{% static 'index_static/img/whatsapp.png' %}" alt="Whatsapp"> Whatsapp
							</a></li>
						</ul>
					</li>

				</ul>
			</div>
		</div>

		<!-- Primary Page Layout
		================================================== -->

		<div class="section full-height over-hide swiper-container z-bigger" id="hero-slider">
			<ul class="swiper-wrapper case-study-wrapper">
				<li class="swiper-slide full-height case-study-name">
					<a href="project.html" class="hover-target animsition-link">
						<h1>Auto gil</h1>
					</a>
				</li>
				<li class="swiper-slide full-height case-study-name">
					<a href="project-1.html" class="hover-target animsition-link">
						<h1>Autogil</h1>
					</a>
				</li>
				<li class="swiper-slide full-height case-study-name">
					<a href="project.html" class="hover-target animsition-link">
						<h1>Lamborghini Huracan</h1>
					</a>
				</li>
				<li class="swiper-slide full-height case-study-name">
					<a href="project-1.html" class="hover-target animsition-link">
						<h1>Mustang Shelby</h1>
					</a>
				</li>
				<li class="swiper-slide full-height case-study-name">
					<a href="project.html" class="hover-target animsition-link">
						<h1>Ferrari</h1>
					</a>
				</li>
				<li class="swiper-slide full-height case-study-name">
					<a href="project-1.html" class="hover-target animsition-link">
						<h1>Lamborghini URUS</h1>
					</a>
				</li>
			</ul>

			<!-- Background Images -->
			<div class="swiper-scrollbar"></div>
		</div>

		<!-- Slider background images
		================================================== -->

		<ul class="case-study-images">
			<li>
				<div class="img-hero-background no-blur" style="background-image: url('{% static 'index_static/img/5.jpg' %}');"></div>
				<h2 class="fullscreen-image no-blur">Auto gil</h2>
				<div class="hero-number">01</div>
				<div class="hero-number-fixed">06</div>
			</li>
			<li>
				<div class="img-hero-background no-blur" style="background-image: url('{% static 'index_static/img/1.jpg' %}');"></div>
				<h2 class="fullscreen-image no-blur">Autogil</h2>
				<div class="hero-number">02</div>
			</li>
			<li>
				<div class="img-hero-background no-blur" style="background-image: url('{% static 'index_static/img/2.jpg' %}');"></div>
				<h2 class="fullscreen-image no-blur">Lamborghini Huracan</h2>
				<div class="hero-number">03</div>
			</li>
			<li>
				<div class="img-hero-background no-blur" style="background-image: url('{% static 'index_static/img/3.jpg' %}');"></div>
				<h2 class="fullscreen-image no-blur">Mustang Shelby</h2>
				<div class="hero-number">04</div>
			</li>
			<li>
				<div class="img-hero-background no-blur" style="background-image: url('{% static 'index_static/img/4.jpg' %}');"></div>
				<h2 class="fullscreen-image no-blur">Ferrari</h2>
				<div class="hero-number">05</div>
			</li>
			<li>
				<div class="img-hero-background no-blur" style="background-image: url('{% static 'index_static/img/6.jpg' %}');"></div>
				<h2 class="fullscreen-image no-blur">Lamborghini URUS</h2>
				<div class="hero-number">06</div>
			</li>
			<li>
		</ul>

		<!-- Social links
		================================================== -->

		<div class="social-fixed">
			<a href="#" class="hover-target"> <img src="{% static 'index_static/img/instagram.png' %}" alt="Instagram"> </a>
			<a href="#" class="hover-target"> <img src="{% static 'index_static/img/whatsapp.png' %}" alt="Whatsapp"> </a>
			<a href="#" class="hover-target"> <img src="{% static 'index_static/img/telegram.png' %}" alt="Telegram"> </a>
		</div>
		<div class="copyr">
			2021 © <a href="https://themeforest.net/user/ig_design/portfolio" class="hover-target">Atrotech</a>
		</div>

		<!-- Page cursor
		================================================== -->

        <div class='cursor' id="cursor"></div>
        <div class='cursor2' id="cursor2"></div>
        <div class='cursor3' id="cursor3"></div>

	</div>


	<!-- JAVASCRIPT
    ================================================== -->
	<script src="{% static 'index_static/js/jquery.min.js' %}"></script>
	<script src="{% static 'index_static/js/popper.min.js' %}"></script>
	<script src="{% static 'index_static/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'index_static/js/plugins.js' %}"></script>
	<script src="{% static 'index_static/js/custom.js' %}"></script>
<!-- End Document
================================================== -->
</body>
</html>
